/* ---------------------------------------- Main */
body {
    background: #303030;
    color: #FFFFFF;
    font-family: sans-serif;
    padding: 6px 10px;
}

.main {
    background: #202020;
    border: 1px solid #108ABD;
    border-radius: 4px;
    margin-bottom: 10px;
}

.title {
    background: linear-gradient(to bottom, #108ABD 0%, #2686B0 80%);
    font: 24px/1.5 "Chakra Petch", sans-serif;
    text-align: center;
}

img {
    user-select: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    border-color: #108ABD;
}

a {
    color: #33BEF9;
    text-decoration: none;
}

/* ---------------------------------------- Button */
.button {
    font: 16px/2 "Chakra Petch", sans-serif;
    text-align: center;
    background: #808080;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    padding: 2px 10px;
    outline: none;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to bottom, #7D7D7D 0%, #606060 50%);
    border-color: #A0A0A0;
}

/* ---------------------------------------- Class Nav */
#nav {
    text-align: center;
}

#nav .button {
    display: inline-block;
    width: 120px;
    margin: 10px;
}

#nav .button.active {
    background: linear-gradient(to bottom, #5D5D5D 0%, #404040 50%);
    border-color: #808080;
}

/* ---------------------------------------- Options */
.options {
    float: left;
    text-align: left;
    font-family: "Chakra Petch", sans-serif;
    border-bottom: 1px solid #108ABD;
    border-right: 1px solid #108ABD;
    border-radius: 4px;
    padding-bottom: 4px;
}

.options input {
    margin: 4px;
}

.options li {
    margin: 8px;
}

.options input[type=checkbox],
.options label {
    cursor: pointer;
    user-select: none;
}

.options label:hover span {
    box-shadow: 0 3px 3px -2px #808080;
}

/* ----- Skilltree specific */
#skilltree .options {
    position: absolute;
    top: 0;
    text-align: center;
    border: 1px solid #108ABD;
}

/* ----- Search */
#search #searchtext {
    width: 160px;
    text-align: center;
}

#search .button {
    width: 100px;
    margin: 4px auto;
}

#search #searchcount {
    color: #808080;
    text-align: center;
    font: 90% "Chakra Petch", sans-serif;
}

/* ---------------------------------------- Skilltree */
#skilltree {
    position: relative;
    min-height: 880px;
    margin-bottom: 10px;
}

#skilltree .skilltree {
    display: none;
}

#skilltree #points {
    position: absolute;
    left: 110px;
    top: 700px;
    color: #FFC74A;
    font: 60px "Chakra Petch", sans-serif;
    letter-spacing: 2px;
}

#skilltree #reset {
    position: absolute;
    left: 55px;
    top: 818px;
    width: 90px;
}

/* ----- Node */
#skilltree .node {
    position: absolute;
    border-radius: 90px;
    filter: brightness(2);
    cursor: pointer;
    user-select: none;
}

#skilltree .node.activatable {
    background: #FFFFFF10;
    box-shadow: 0 0 20px 2px #FDF2BE;
}

#skilltree .node:hover {
    box-shadow: 0 0 20px 2px #666666;
    z-index: 1;
}

#skilltree .node.active {
    background: #FFFF001A;
    box-shadow: 0 0 20px 2px #FFD400;
}

#skilltree .node.highlight {
    box-shadow: 0 0 20px 2px #22EC5E;
    filter: saturate(2);
}

#skilltree .node.n0 {
    width: 42px;
    height: 42px;
}

#skilltree .node.n1 {
    width: 62px;
    height: 62px;
}

#skilltree .node.n2 {
    width: 136px;
    height: 136px;
    background: none;
    box-shadow: none;
}

/* ----- Name */
#skilltree .node .name {
    display: none;
    position: absolute;
    width: 85px;
    left: 50%;
    transform: translateX(-50%);
    font: 80% "Chakra Petch", sans-serif;
    text-align: center;
}

#skilltree .node:hover .name {
    display: block !important;
}

#skilltree .node.n0 .name {
    bottom: 46px;
}

#skilltree .node.n1 .name {
    bottom: 66px;
}

/* ----- Tooltip */
#skilltree .node .tooltip {
    display: none;
    position: absolute;
    width: max-content;
    max-width: 350px;
    left: 50%;
    transform: translateX(-50%);
    filter: brightness(0.5);
    padding: 4px 8px;
    background: #000000E8;
    border: 1px solid #108ABD;
    border-radius: 6px;
    text-align: center;
    font-size: 95%;
}

#skilltree .node .tooltip li {
    margin: 6px 0;
}

#skilltree .node.highlight .tooltip {
    filter: saturate(0.5);
}

#skilltree .node:hover .tooltip {
    display: inline-block;
}

#skilltree .node.n0 .tooltip {
    top: 50px;
}

#skilltree .node.n1 .tooltip {
    top: 70px;
}

#skilltree .node.n2 .tooltip {
    top: 156px;
}

/* ---------------------------------------- Stats */
#stats {
    text-align: center;
}

#stats .statstable {
    display: none;
}

#stats .statstable table {
    display: inline-block;
    vertical-align: top;
    min-width: 20%;
    max-width: calc(49% - 20px);
    margin: 10px;
}

#stats .statstable table td {
    padding: 4px;
}

/* ----- Cooldowns */
#stats .statstable .cooldowns {
    font: 18px "Chakra Petch", sans-serif;
    margin: 20px 94px 0 190px;
}

#stats .statstable .cooldowns > div {
    display: inline-block;
}

#stats .statstable .cooldowns .powertype {
    color: #808080;
    font-size: 16px;
    margin: 0 20px;
    box-shadow: 0px 2px 1px -2px #808080;
}

#stats .statstable .cooldowns .power {
    position: relative;
    display: inline-block;
    min-width: 120px;
    margin: 10px;
    cursor: pointer;
}

#stats .statstable .cooldowns img {
    margin: 10px;
}

#stats .statstable .cooldowns .active img {
    box-shadow: 0 0 10px 4px #FFFFFF, inset 0 0 10px 4px #FFFFFF;
    border-top-right-radius: 15px;
}

#stats .statstable .cooldowns .cooldown {
    font-size: 22px;
}

#stats .statstable .cooldowns .cooldown:after {
    content: "s";
}

/* ----- Tooltips */
#stats .cooldowns .tooltip {
    display: none;
    position: absolute;
    width: max-content;
    max-width: 350px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4px;
    padding: 4px 8px;
    background: #000000E8;
    border: 1px solid #108ABD;
    border-radius: 6px;
    text-align: center;
    font: 90% sans-serif;
    z-index: 1;
}

#stats .cooldowns .power:hover .tooltip {
    display: inline-block;
}

/* ----- Colors */
#stats .stat.inactive {
    color: #808080;
    filter: contrast(0.5);
}

/*
#stats .stat-k {
    text-align: right;
}
*/

#stats .stat-v,
#stats .stat-m,
#stats .stat-n {
    min-width: 2.1em;
    text-align: right;
}

#stats .stat,
#stats .stat-m,
#stats .stat-n {
    display: none;
}

#stats .stat-0 {
    color: #16D216;
}

#stats .stat-1 {
    color: #96BFFF;
}

#stats .stat-2 {
    color: #FFB000;
}

#stats .stat-3 {
    color: #FF55E9;
}

/* ----- Stats Key */
#stats #statskey {
    float: right;
    text-align: right;
    font-family: "Chakra Petch", sans-serif;
    border-bottom: 1px solid #108ABD;
    border-left: 1px solid #108ABD;
    border-radius: 4px;
}

#stats #statskey li {
    margin: 4px 8px;
}

/* ---------------------------------------- DPS Calculator */
#dps #dps-input {
    text-align: center;
    font: 20px "Chakra Petch", sans-serif;
}

#dps #dps-input > div {
    display: inline-block;
    margin: 10px;
}

#dps #dps-input input {
    width: 85px;
    font: 24px/1.5 "Chakra Petch", sans-serif;
    text-align: center;
    margin-bottom: 4px;
}

#dps #dps-input .vr {
    background: #108ABD;
    width: 1px;
    height: 60px;
    margin: 10px;
}

#dps #dps-result {
    margin: 10px 0;
}

#dps #dps-result table {
    table-layout: fixed;
    text-align: center;
    width: 40em;
    min-width: 30em;
    border-spacing: 0;
    margin: 0 auto;
}

#dps #dps-result table th,
#dps #dps-result table td {
    padding: 6px;
}

#dps #dps-result table .vb {
    border-right: 1px solid #108ABD;
}

/* ---------------------------------------- Keywords */
.hl-a {
    color: #20DEFF;
    white-space: nowrap;
}

.hl-d {
    color: #FF7272;
    white-space: nowrap;
}

.hl-e {
    color: #F32DA2;
    white-space: nowrap;
}

.hl-h {
    color: #16D216;
    white-space: nowrap;
}

.hl-l {
    color: #43F3A3;
    white-space: nowrap;
}

.hl-n {
    color: #FCFF79;
    white-space: nowrap;
}

.hl-p {
    color: #F7EA40;
    white-space: nowrap;
}

.hl-r {
    color: #FFB000;
    white-space: nowrap;
}

.hl-s {
    color: #FF82CC;
    white-space: nowrap;
}

.hl-t {
    color: #3BABEF;
    white-space: nowrap;
}

/*
#20DEFF; light blue   - anomaly power
#FF7272; red          - damage / firepower
#F32DA2; light purple - status effect
#16D216; dark green   - health
#43F3A3; light green  - leech / healing
#FCFF79; yellow       - special node
#F7EA40; yellow       - penetration
#FFB000; orange       - resistance / damage mitigation
#FF82CC; pink         - skill
#3BABEF; dark blue    - shield

#FF55E9; purple
#96BFFF; blue
#00FFFF; light blue
#F12B2B; red
#FB9716; orange
#F343E4; purple
#79FFA3; light green
#3EF3C2; teal
#C13EEA; dark purple
#799BFF; light blue
*/
