body {
    background: #303030;
    color: #FFFFFF;
    font-family: sans-serif;
    padding: 10px;
}

.main {
    background: #202020;
    border: 1px solid #108ABD;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
}

.title {
    background: linear-gradient(to bottom, #108ABD 0%, #2686B0 80%);
    font: 24px/1.5 "Chakra Petch", sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    border-color: #108ABD;
}

a {
    color: #33BEF9;
    text-decoration: none;
}

/* ----- Button */
.button {
    font: 16px/2 "Chakra Petch", sans-serif;
    text-align: center;
    background: #808080;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    padding: 2px 10px;
    outline: none;
    user-select: none;
    cursor: pointer;
}
.button:hover {
    background: #606060;
    border-color: #A0A0A0;
}

/* ----- Options */
.options {
    float: left;
    text-align: left;
    font-family: "Chakra Petch", sans-serif;
    border-bottom: 1px solid #108ABD;
    border-right: 1px solid #108ABD;
    border-radius: 4px;
    padding-bottom: 4px;
}

.options input {
    margin: 4px;
}

.options li {
    margin: 4px 8px;
}

#skilltree .options {
    position: absolute;
    top: 0;
    text-align: center;
}

/* ----- Class */
#nav {
    text-align: center;
}

#nav .button {
    display: inline-block;
    width: 120px;
    margin: 10px;
}

/* ----- Skilltree */
#skilltree {
    position: relative;
    margin-bottom: 10px;
}

#skilltree .points {
    position: absolute;
    left: 27px;
    top: 693px;
    color: #D3B848;
    font: 60px "Chakra Petch", sans-serif;
    letter-spacing: 2px;
}

#skilltree #search {
    position: absolute;
    top: 0;
    margin: 10px;
}

#skilltree #searchtext {
    width: 160px;
    text-align: center;
}

#skilltree #search .button {
    width: 100px;
    margin: 4px auto;
}

#skilltree #search #searchcount {
    color: #808080;
    text-align: center;
    font: 90% "Chakra Petch", sans-serif;
}

#skilltree #reset {
    position: absolute;
    left: 30px;
    top: 810px;
    width: 90px;
}

#skilltree .skilltree {
    display: none;
}

/* ----- Node */
#skilltree .node {
    position: absolute;
    border-radius: 90px;
    filter: brightness(2);
    user-select: none;
    pointer-events: none;
}

#skilltree .node area {
    outline: none;
    user-select: none;
}

#skilltree .node.activatable {
    background: #FFFFFF10;
    box-shadow: 0 0 20px 2px #FDF2BE;
}

#skilltree .node:hover {
    box-shadow: 0 0 20px 2px #666666;
}

#skilltree .node.active {
    background: #FFFF001A;
    box-shadow: 0 0 20px 2px #FFD400;
}

#skilltree .node.highlight {
    box-shadow: 0 0 20px 2px #22EC5E;
    filter: saturate(2);
}

#skilltree .node.n0 {
    width: 38px;
    height: 38px;
}

#skilltree .node.n1 {
    width: 58px;
    height: 58px;
}

#skilltree .node.n2 {
    width: 136px;
    height: 136px;
}

/* ----- Name */
#skilltree .node .name {
    display: none;
    position: absolute;
    width: 80px;
    left: 50%;
    transform: translateX(-50%);
    font: 80% "Chakra Petch", sans-serif;
    text-align: center;
}

#skilltree .node.n0 .name {
    bottom: 40px;
}

#skilltree .node.n1 .name {
    bottom: 60px;
}

#skilltree .node:hover .name {
    display: block !important;
}

/* ----- Tooltip */
#skilltree .node .tooltip {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px;
    background: #000000E8;
    border: 1px solid #108ABD;
    border-radius: 6px;
    text-align: center;
    font-size: 95%;
    white-space: nowrap;
}

@supports (backdrop-filter: blur(4px)) {
  #skilltree .node .tooltip {
    background: #000000C0;
    backdrop-filter: blur(4px);
  }
}

#skilltree .node.n0 .tooltip {
    top: 50px;
}

#skilltree .node.n1 .tooltip {
    top: 70px;
}

#skilltree .node.n2 .tooltip {
    top: 148px;
}

#skilltree .node:hover .tooltip {
    display: inline-flex !important;
}

/* ----- Stats */
#stats {
    text-align: center;
}

#stats .statstable {
    display: none;
}

#stats table {
    display: inline-block;
    vertical-align: top;
    min-width: 28em;
    max-width: calc(49% - 20px);
    margin: 10px;
}

#stats table td {
    padding: 4px;
}

#stats #statskey {
    float: right;
    text-align: right;
    font-family: "Chakra Petch", sans-serif;
    border-bottom: 1px solid #108ABD;
    border-left: 1px solid #108ABD;
    border-radius: 4px;
}

#stats #statskey li {
    margin: 4px 8px;
}

#stats .stat.inactive {
    color: #C0C0C0;
    color: #808080;
}

#stats .stat-k {
    text-align: right;
}

#stats .stat-v,
#stats .stat-m,
#stats .stat-n {
    min-width: 2.1em;
}

#stats .stat,
#stats .stat-m,
#stats .stat-n {
    display: none;
}

#stats .stat-0 {
    color: #00FFFF;
}

#stats .stat-1 {
    color: #16D216;
}

#stats .stat-2 {
    color: #FFB000;
}

#stats .stat-3 {
    color: #FF55E9;
}

/* ----- Keywords */
/*
#00FFFF; light blue
#16D216; dark green
#FFB000; orange
#FF55E9; purple

#20DEFF; light blue - shield / anomaly power
#F12B2B; red - weapon damage
#FB9716; orange - armor / penetration
#F343E4; purple - skill

#43F3A3; light green
#79FFA3; light green alt
#F7EA40; yellow
#FCFF79; yellow alt
#3EF3C2; teal
#3BABEF; dark blue
#C13EEA; dark purple
#F32DA2; light purple
#FF82CC; pink
#799BFF; light blue alt
#FF7272; red alt
*/
.hl-a {
    color: #20DEFF;
}

.hl-d {
    color: #FF7272;
}

.hl-e {
    color: #F32DA2;
}

.hl-h {
    color: #16D216;
}

.hl-l {
    color: #43F3A3;
}

.hl-n {
    color: #FCFF79;
}

.hl-p {
    color: #F7EA40;
}

.hl-r {
    color: #FFB000;
}

.hl-s {
    color: #FF82CC;
}

.hl-t {
    color: #3BABEF;
}
